@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

*{
    margin:0;
    box-sizing: border-box;
}

/* Navbar */

.my-navbar{
    padding-top: 25px;
    position: relative;
    width: 100%;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px #E5E9F2;
}

.logo{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 20px;
    font-feature-settings: 'liga' off;
    color: #0B0D17;
    mix-blend-mode: darken;
}

.right-nav{
    text-align: end;
}

.nav-button-1{
    background: #E0E0E0;
    color: #2d9cdb;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
line-height: 20px;

}

.nav-button-2{
    background: #2d9cdb ;
    color:  #E0E0E0;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;   
    font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 20px;

}

a:hover{
    text-decoration: none !important;
}


.left-nav{
    text-align: start;
}

.my-nav-item{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 16px ;
    line-height: 20px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    margin: 0px 10px
}



.nav1{
    position: fixed;
    z-index: 9;
    background-color: grey;
    width: 100vh;
    height: 100vh;
    right: 0;
    margin-top: -20px;
    padding: 0px;
}

.nav1-item{
    display: inline;
    font-family: "Bungee";
    color: white; 
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;  
    float: right;
    padding: 7px 14px;

}


.overlay {
    height: 100vh;
    width: 100vw;
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #18191F;
    transition: opacity .5s;
  }

  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 32px;
    color: white !important;
    display: block;
    transition: 0.3s;
    font-family: Manrope;
  }

  .overlay-content a:hover{
      color: #2D9CDB  !important;
  }

  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  #nav-btn{
      top: 0;
  }

  @media (max-width:575px){
      #nav-btn{
          top: -45 !important;
      }
  }


/* Hero */

@media (max-width:510px){
    .hero-h1{
        padding: 0px !important;
        font-size: 58px !important;
        width: auto !important;
    }
    .hero-p{
        padding: 0px 10px !important;
        width: auto;
        height: auto;
    }
}

@media (min-width:1200px) and (max-width:1330px){
    .hero-principal-img{
        left: -70 !important;
        top: 80 !important;
    }
}

.hero-principal-img{
    position: absolute;
    top: 110;
    width:650px;
}



.hero-sm{
    float: right;
    width: 94%;
    height: 85%;
    margin-right:-15px;
}

.hero-btn{
    background: #2D9CDB;
    border-radius: 8px;
    width: 196px;
    height: 62px;
    color: #E0E0E0;
    text-decoration: none;
    padding: 10px 30px;
    margin:0px 60px;
}

.hero-h1{
    font-family: Manrope;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 98px;
    width: 540px;
    color: #18191F;
    font-feature-settings: 'liga' off;
    margin: auto;
    padding:0 60px;
}

.hero-p{
    padding: 0px 60px;
}

.about{
    height: 450px;
    background-image: url("C:/Users/Maxi Besso/Desktop/figma/8.png");
}

.about-h1{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 54px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    padding: 0 60px;

}

.about-p{
    font-family: Manrope;
font-style: normal;
font-weight: lighter;
font-size: 18px;
line-height: 32px;
font-feature-settings: 'liga' off;
color: #18191F;
padding: 0 60px;
}


/* Pricing */


.pricing-p{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    font-feature-settings: 'liga' off;
    color: #F2F2F2; 
    padding: 0px 100px;
}

.pricing-h1{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 40px;
    font-feature-settings: 'liga' off;
    color: #F2F2F2; 
    margin: 0px 100px;
    margin-top: 20px;
}

.pricing-img{
    width: 430px;
    height: 500px;
    border-radius: 8px;
    margin-bottom: 0px !important;
}

.pricing-text-banner{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: 'liga' off;
    color: #F2F2F2;
    margin:80px 200px; 
    margin-bottom: 20px;
}

.pricing-img{
    margin: 0px auto;
    display:block;
    width: 80%;
    height: 400px;

}

.pricing-img-1{
    margin: auto; 
    margin-top: 60px;
    display: block;
    width: 80%;
    height: 400px;
}
/* sm 576 md 768 lg 992 xl 1200*/
@media (min-width:992px){
    .pricing-img-1{
        height: 500px;
    }
    .pricing-img{
        height: 500px;
    }
    .pricing-p{
        margin-bottom: 30px;
    }
}

@media (max-width:992px){
    .pricing-h1{
        display: block;
        margin: auto;
        margin-top: 15px;
        text-align: center;
    }

    .pricing-text-banner{
        margin: 20px auto;
        display: block;
        text-align: center;        
    }
}

@media (max-width:768px){
    .pricing-img-1{
        margin-top: 0px;
        width: 80%;
    }
    .pricing-img{
        width: 80%;
    }
    .pricing-p{
        padding-bottom: 20px;
    }
    .pricing-h1{
        display: block;
        margin: auto;
        margin-top: 15px;
        text-align: center;
    }
    .pricing-text-banner{
        margin: 20px auto;
        display: block;
        text-align: center;
    }
}

@media (max-width:552px){
    .pricing-p{
        padding: 5px 50px;
    }
}

/* Learn */

@media (max-width:1000px){
   .learn-img{
    display: block;
    margin: auto;
    width: 400px !important;
    height: 400px  !important;
    padding: 20px  !important;
   }
}

@media (min-width:1000px) and (max-width:1100px){
   .learn-img{
    padding: 30px  !important;
    height: 400px !important;
    width: 500px !important;
   }
}
 
@media (min-width:768px) and (max-width:768px){
    .learn-content{
        top: 15% !important;
        transform: none  !important;
    }
    .learn-row{
        min-height: 450px !important;
    }
}

@media (min-width:552px) and (max-width:768px){
    .learn-img-ct{
        max-height: 0px !important;
    }
}

@media(max-width:768px){
    .learn-row{
        min-height: 800px;
    }
    .learn-content{
        margin: 0;
        position: relative;
        -ms-transform: 0;
        transform: 0;
        padding-bottom: 30px;
    }
    .learn-img{
        display: block;
        margin: auto;
        width: 400px;
        height: 400px;
        padding: 20px  !important;
    }
    .learn-img-ct{
        max-height: 250px;
    }
}

@media (max-width:552px){
    .learn-img{
        margin: auto;
        margin-top: 30px;
        width: 90% !important;
        height: 350px  !important;
        padding: 0 !important;
    }
    .learn-img-ct{
        max-height: 50px;
    }
}

.learn-row{
    height: auto;
}

.learn-img{
    width: 540px;
    height: 540px;
    padding:64px 150px;
    padding-right: 0px;
}

.learn-text-sm{
    font-family: Manrope;
    font-style: capitalized;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    color: #2EC5CE;
}

.learn-text-h1{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    font-feature-settings: 'liga' off;
    color: #18191F;
}

.learn-text-p{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    font-feature-settings: 'liga' off;
    color: #18191F;
}

.learn-btn{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    font-feature-settings: 'liga' off;
    color: #8C30F5;
}

.learn-content{
    margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}

/* Work */

@media (max-width:992px){
    .work-principal-text{
        text-align: center;
        display: block;
        width: 100% !important;
    }
    .work-img-ct{
        float:none !important;
    }
    .work-img{
        position: relative !important;
        display: block !important;
        margin: auto !important;
        width: 90% !important;
        margin-top: -200px !important;
    }
    .work-mini-banner{
        width: 90% !important;
        display: block !important;
        margin: auto;
    }
    .work-mini-banner-1{
        margin-top: 100px !important;        
    }
    .work-text-ct{
        left: 250  !important;
    }
}

@media (max-width:516px){
    .work-img{
        margin-top: -160px !important;
    }
}

@media (min-width:552px) and (max-width:620px){
    .work-text-md-3{
        margin-bottom: 0px;
    }
    .work-text-sm-3{
        height: auto !important;
        width: auto !important;
    }
    .work-text-sm-1{
        width: auto !important;
    }

}

.work-text-ct{
    position: absolute !important;
    left: 180;    
}

@media (max-width:575px){
    .work-text-ct{
        position: relative !important;
        left: 0 !important;
    }
}
 
@media (max-width:475px){
    .work-mini-banner{
        padding: 40px 20px !important;
    }
    .work-text-sm{
        width: auto !important;
        height: auto !important;
    }
}
 
@media (min-width:992px){
    .work-text-ct{
        left: 220 !important;
    }
}

@media (min-width:992px) and (max-width:1175px){
    .work-text-sm{
        width: auto !important;
        height: auto !important;
    }
    .work-text-md-3{
        margin-bottom: .5rem !important;
    }
}

@media (min-width:870px) and (max-width:992px){
    .work-text-sm{
        width: 100% !important;
    }
}

.work-img-ct{
    float: right;
}

.work-mini-banner {
    width: 95%;
    height: 192px;
    left: 0px;
    padding: 48px 80px;
}

.work-principal-text{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    width: 445px;
    padding-top: 50px;
    height: 128px;
}

.work-img{
    width: 445px;
    height: 525px;
    top: 200px;
    position: absolute;
}

.work-text-md , .teaches-text-md{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
}

.work-text-sm, .teaches-text-sm{
    width: 299px;
height: 48px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
}

.work-content{
    padding: 48px 80px;
    position: static;
    width: 80%;
    height: 192px;
    left: 0px;
    top: 0px;
}

/* teaches */

@media (min-width:992px) and (max-width:1260px){
    .teaches-mini-banner{
        padding: 48px 40px !important;
        height: 200px !important;
    }
}
.teaches-img{
    width: 90%;
    margin: auto;
    height: 100%;
}

@media (max-width:992px){
    .teaches-principal, .teaches-principal-p{
        width: auto  !important;
        height: auto !important;
    }
    .teaches-mini-banner-2{
        margin-top: 20px;
    }
}

@media (max-width:630px){
    .teaches-mini-banner-2{
        margin-top: 40px  !important;
    }
}

@media (min-width:390px) and (max-width:500px){
    .teaches-mini-banner{
        padding: 48px 40px !important;
    }
    .teaches-mini-banner-2{
        margin-top: 60px !important;
    }
}

@media (max-width:390px){
    .teaches-mini-banner{
        padding: 48px 15px !important;
    }
    .teaches-mini-banner-2{
        margin-top: 90px !important;
    }
}


@media (min-width:370px) and (max-width:780px){
    .teaches-btn{
        margin-top: 100px  !important;
    }
}
@media (max-width:370px){
    .teaches-btn{
        margin-top: 130px !important;
    }
}

.teaches-principal{
    width: 444px;
    margin: 10px auto;
}

.teaches-principal-p{
    width: 444px;
    height: 128px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    margin: auto;
}

.teaches-text-ct{
    position: relative;
}

@media (min-width:576px){
    .teaches-text-ct{
        left: 200;
    position: absolute !important;

    }
}

.teaches-element-h1{
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-feature-settings: 'liga' off;
    color: #18191F;
}

.teaches-element-p{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'liga' off;
    color: #18191F;
}

.teaches-mini-banner{
    width: 95%;
    height: 122px;
    left: 0px;
    padding: 48px 80px;
}

.teaches-btn{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    font-feature-settings: 'liga' off;
    color: #2D9CDB;
    margin-top:60px;
    display: block;
    float: right;
    margin-right: 20px;
}

/* Contact */
.contact{
    margin-top: 60px;
    min-height: 500px;
    background: #0B0D17
}

@media (max-width:400px){
    .contact-title{
        margin: 10px 0 !important;
    }
    .contact-subtitle{
        margin: 10px 20px !important;
    }
}

.contact-title{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    margin: 60px;
    margin-bottom: 10px;
}

.contact-subtitle{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    font-feature-settings: 'liga' off;
    color: #2EC5CE;
    margin: 10px 60px;
}

.contact-input , .contact-textarea{
    display: block;
    font-size: 15px;
    width: 300px;
    font-weight: bold;
    line-height: 30px;
    background-color: transparent;
    border: 1px solid rgba(180, 176, 184, 0.377);
    border-radius: 2px;
    margin: 10px auto;
    border-bottom: 3px solid #ffffff;
    outline: none;
    padding:5px;
    transition: .1s;
    color: white;
}

.contact-textarea{
    height: 250px;
}

.contact-input:hover, .contact-textarea:hover{
    border: 2px solid rgba(241, 239, 243, 0.705);

}

.contact-btn{
    display: block;
    margin: auto;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    color: white;
    border: 2px solid #2ec5ce;
    background-color: transparent;
    padding:5px 40px;
    border-radius: 2px;
    transition: .2s;
}

.contact-btn:hover{
    background-color: #2ec5ce;
    color: #0b0b0b;
}

.contact-element-ct{
    padding:10px;
    margin: auto;
}

.contact-element{
    color: white;
    list-style: none;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    font-feature-settings: 'liga' off;
    margin: 10px 60px;
}

.footer{
    min-height: 300px;
    padding:30px 0;
    background: #0B0D17
}

.footer-e-title{
    text-align: center;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    padding-top: 20px;
}

.footer-element{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'liga' off;
    color: grey;
    list-style: none;
}